

<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <i class="bi bi-list"></i>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMain">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand"  role="button" aria-controls="sideBar">WAO</a>
    <span><i class="bi bi-list"></i></span>
    <div class="collapse navbar-collapse" id="navbarMain">
      <ul class="navbar-nav me-auto mb-2 mb-sm-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/recipes" routerLinkActive="active" >EW teams</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/auth" routerLinkActive="active" >Members</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/shopping-list" routerLinkActive="active" >Log in</a>
        </li>
      </ul>
    </div>
    <ul class="navbar-nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link" routerLink="/shopping-list" routerLinkActive="active" >Log out</a>
      </li>
    </ul>

  </div>
</nav>
<div id="content" class="container col-md-12">
  <app-custom-error></app-custom-error>
  <router-outlet></router-outlet>
</div>



