table tbody tr {
  cursor: pointer;
}

.active-page {
  background-color: lightgray;
}

li a {
  cursor: pointer;
}

li a.disabled {
  color: black;
  cursor: auto;
}

ul li {
  list-style-type: none;
  color: blue;
}


